<!DOCTYPE html>
<html dir="rtl">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>{{ site.title | default: site.github.repository_name }} - {{ site.description | default: site.github.project_tagline }}</title>

    {% seo %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="http://podswell.com/rss?name=movietalker" class="button">
          <img src="/images/rss.png" alt="podcast's RSS feed" title="podcast's RSS feed">
        </a>
        <a href="http://fb.me/MovieTalkerCast" class="button">
          <img src="/images/facebook.png" alt="podcast's Facebook page" title="podcast's Facebook page">
        </a>
        <a href="https://twitter.com/MovieTalkerCast" class="button">
          <img src="/images/twitter.png" alt="podcast's Twitter" title="podcast's Twitter">
        </a>

        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
      </div>
    </header>
 <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">