---
---

@import "{{ site.theme }}";

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#main-content {
    float: none;
    width: 690px;
}

#main-content {
	h1, h2, h3, h4, h5, h6{
		&:before {
    			margin-left: -0em;
    			content: "#";
		}
	}
}

header a.button {
	position: inherit;
    float: left;
   	background: none;
}

a.button {
    /* width: 134px; */
    /* height: 58px; */
    padding-top: 0px;
    padding-left: 0px;
    /* font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; */
    /* font-size: 23px; */
    /* line-height: 1.2; */
    /* color: #fff; */
}
